<div class="text-center">
    <h4 class="p-3 border-bottom">みんなのイベントTODO</h4>
    <% if @search_msg != "" %>
        <p class="text-secondary"><%= @search_msg %></p>
    <% end %>
</div>

<div class="col-2">
    <%= render 'public/shared/genre_search' %>
</div>
<div class="col-10">
    <%= render 'index', events: @events %>
</div>