<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 text-center">
    <i class="fa-regular fa-calendar fa-4x mb-4"></i>
    <h1 style="font-family: cursive;" class="mb-5 border-bottom">About Page</h1>
    
    <p style="font-family: serif;">Eventareは「Event」を「Share」するためのアプリです.</p>
    <p style="font-family: serif;">主に音楽や執筆などの創作活動を行っている方に向けています.</p>
    <p style="font-family: serif;">
    創作イベントなどに応募することを忘れないためのTODO作成や,<br>
    自分が知らない, 他の創作者が知っているイベントを把握するために便利です.
    </p>
</div>