<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 text-center">
    <i class="fa-regular fa-calendar fa-4x mb-4"></i>
    <h1 style="font-family: cursive;" class="mb-5 border-bottom">Eventare</h1>

    <p style="font-family: serif;">イベントやコンテストをTODOとして投稿したり</p>
    <p style="font-family: serif;">他の人が投稿したTODOからまだ見ぬイベントやコンテストを知ることができます</p>

    <div class="btn-wrapper col-10 mx-auto">
        <div class="row mt-4">
            <%= link_to new_member_session_path, class:"btn btn-success btn-block mb-3" do %>
            <i class="fas fa-sign-in-alt" aria-hidden="true"></i> ログイン
            <% end %>
        </div>
        <div class="row">
            <%= link_to new_member_registration_path, class:"btn btn-info btn-block mb-3" do %>
            <i class="fas fa-user-plus" aria-hidden="true"></i> 新規登録
            <% end %>
        </div>
    </div>

</div>